.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
}
@media (max-width:890px) {
  .swiper-slide {
    width: 300px;
  }
}
@media (max-width:670px) {
  .swiper-slide {
    width: 250px;
  }
}
@media (max-width:520px) {
  .swiper-slide {
    width: 200px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}
