.c {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    height: 50vh;
    margin: 10vh 0;
    width: 90%;
}

.text {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}

.text p:first-child {
    font-family: Lora, serif;
    font-size: 8vh;
    margin-top: 50px;
    width: 80%;
}

.text p:nth-child(2) {
    font-family: Exo, sans-serif;
    font-size: 2.5vh;
    margin: 2vh 0;
    text-align: justify;
    width: 80%;
}

.text p:nth-child(3) {
    font-family: Exo, sans-serif;
    padding-bottom: 50px;
    width: 80%;
}

.text p:nth-child(3) button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2vh;
    margin-top: 2vh;
    padding: 10px;
}


.right, .left {
    position: relative;
    width: 100%;
    flex-basis: 50%;
    overflow: hidden;
}

.right img, .left img {
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position: 100%;
}

.right::before {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, rgba(0, 0, 0, 0.7));
    content: "";
    position: absolute;    
    width: 139px;
    height: 410px;
    transform: translateX(-68px) rotate(340deg);
}
.left::before{
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, rgba(0, 0, 0, 0.7));
    content: "";
    position: absolute;
    width: 149px;
    height: 410px;
    transform: translateX(615px) rotate(20deg);   
}

@media (max-width: 900px) {
    .c {
        height: 80vh;
    }
    .text p:first-child {
        font-size: 5vh;
    }
    .text p:nth-child(2) {
        font-size: 2vh;
    }
    .text p:nth-child(3) {
        font-size: 2vh;
    }
    .text{
        height: 10vh;
    }
    .right::before, .left::before {
        display: none;
    }
    .right img, .left img {
        /* background-position: 50%; */
        background-size: cover;
    }
    .right, .left {
        overflow: visible;
    }
    .right img, .left img {
        height: 40vh;
    }
}