@import url(https://fonts.googleapis.com/css2?family=Arvo&family=Hind:wght@500&family=Lora:ital,wght@1,500&family=Mate&family=Montserrat:wght@500&family=Yellowtail&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Catamaran&family=Crimson+Text:ital@1&family=Exo:ital@1&display=swap);

* {
  box-sizing: border-box;
  font-family: Hind, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}


body {
  --sb-track-color: #8a8a8a;
  --sb-thumb-color: #3357bd;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
}